.american-ship {
    width: 1440px;
    margin-top: 80px;
}

.image-container {
    margin-left: 0;
    padding: 20px;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.MSC-Ships {
    width: 600px;
    border: 10px;
}

.ship-details {
    width: 600px;
    text-align: center;
}

hr {
    margin-top: 70px;
    width: 95px;
    border: 2px solid;
    color: rgb(255, 153, 0);
}

h1,
h4 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.itinerary {
    text-align: center;
}

#easterncaribbean {
    margin-top: 30px;
    width: 697px;
    height: 300px;
    margin-left: 20px;
}

#westerncaribbean {
    margin-top: 30px;
    width: 690px;
    height: 300px;
    margin-left: 10px;
}

.itinerary-btn button {
    border: none;
    height: 40px;
    background-color: rgb(255, 149, 0);
    margin-left: 645px;
    margin-top: 50px;
    cursor: pointer;

}

.ship-highlights h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 30px;
}

.ship-highlights h3 {
    width: 500px;
    margin-left: 50px;
}

.ship-highlights p {
    width: 500px;
    margin-left: 50px;
}

/* Ship Highlights */
.highlight-details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    margin: 0 auto;
    background-color: rgb(226, 223, 223);
}

/* Ship Highlight Left side */
.left-content {
    flex: 3;
    min-width: 300px;
    padding-right: 20px;
}

#left-title {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: bold;
}

.left-content p {
    font-size: 1.1em;
    color: #333;
    line-height: 1.5em;
}

.left-image {
    width: 720px;
    height: 720px;
}

/* Ship Highlight Right side */
.right-content {
    flex: 3;
    min-width: 300px;
    padding-right: 20px;
}

#right-title {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: bold;
}

.right-content p {
    font-size: 1.1em;
    color: #333;
    line-height: 1.5em;
}

.right-image {
    width: 720px;
    height: 720px;
    margin-right: 100px;
}

/* Onboard Activities */

.onboard-activity p {
    text-align: center;
    font-size: 17px;
    margin-bottom: 50px;
    line-height: 1.4em;
}

.gardenpool,
.worldgalleria,
.lunapark,
.doremiland,
.lanai,
.foundationcenter {
    width: 450px;
    margin-left: 20px;
    margin-bottom: 20px;
}

/* restaurants and buffets */

.restaurantsandbuffets p{
    text-align: center;
    font-size: 17px;
    margin-bottom: 50px;
    line-height: 1.4em;
}
/*
.ship-details button {
    cursor: pointer;
    background-color: rgba(6, 48, 110, 0.755);
    font-style: italic;
    color: white;
    height: 30px;
    font-size: 15px;
    border-radius: 50px;
}
*/